<div class="md:grid grid-cols-2 md:gap-4 md:p-4">
  
        <div>
          <iframe class="md:h-full md:w-full"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30607.702437359796!2d-94.85039482575097!3d16.47742097230005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85954cb60a523c55%3A0xb7604b5978857b54!2sCentro%2C%2070150%20Uni%C3%B3n%20Hidalgo%2C%20Oax.!5e0!3m2!1ses-419!2smx!4v1689882580906!5m2!1ses-419!2smx"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="hidden md:block">
          <img src="/home.svg"/>
        </div>

  
</div>

