
<div class="">
  <h1 class="md:text-3xl text-xl md:font-bold  font-semibold text-center md:mt-5 md:mb-12 mb-6">
    Historia de Unión Hidalgo, Oaxaca
  </h1>
  <ol class="border-l-2 border-primary dark:border-primary-500">
    <li>
      <div class="flex-start flex items-center">
        <div
          class="-ml-[9px] -mt-2 mr-3 flex h-4 w-4 items-center justify-center rounded-full bg-primary dark:bg-primary-500"
        >
        </div>
        <h4 class="-mt-2 text-xl font-semibold">Orígenes prehispánicos</h4>
      </div>
      <div class="mb-6 ml-6 pb-6">
        <p class="text-sm">2500 a.c - 1521 d.c</p>
        <p class="mb-4 mt-2 text-black dark:text-black text-justify">
          
        </p>

        <p class="mb-4 mt-2 text-black dark:text-black text-justify">
          Acerca del pasado prehispánico del municipio en estudio, no hay mucho escrito todavia. Aunque no existen grandes obras arquitectónicas, si hay restos arqueológicos en varios puntos fuera del pueblo pero dentro del municipio de Unión Hidalgo, en 1959 y en una escavación de sondeo, el arqueólogo Agustín Delgado encontró una figura de tipo olmeca tallada en piedra. Los pobladores han encontrado además sellos, platos, coladores de barro, etcétera, muchos de los cuales han sido registrados por el INAH de Oaxaca.
        </p>
        <p class="mb-4 mt-2 text-black dark:text-black text-justify">
          Acerca del pasado prehispánico del municipio en estudio, no hay mucho escrito todavia. Aunque no existen grandes obras arquitectónicas, si hay restos arqueológicos en varios puntos fuera del pueblo pero dentro del municipio de Unión Hidalgo, en 1959 y en una escavación de sondeo, el arqueólogo Agustín Delgado encontró una figura de tipo olmeca tallada en piedra. Los pobladores han encontrado además sellos, platos, coladores de barro, etcétera, muchos de los cuales han sido registrados por el INAH de Oaxaca.
        </p>
        
        <div class="container mx-auto p-8">
          <div class="md:flex md:flex-wrap">
  
            <div class="md:flex md:w-1/2 md:flex-wrap">
              <figure class="mb-4 inline-block max-w-sm">
                <img
                  src="/figura1.png"
                  class="mb-4 h-auto max-w-full rounded-lg align-middle leading-none shadow-lg"
                  alt="Hollywood Sign on The Hill" />
                <figcaption
                  class="text-right md:text-sm text-xs text-neutral-600 dark:text-neutral-400">
                  Escultura antropomorfa de basalto.
                </figcaption>
              </figure>
            </div>

            <div class="md:flex md:w-1/2 md:flex-wrap">
              <figure class="mb-4 inline-block max-w-sm">
                <img
                  src="/figura2.png"
                  class="mb-4 h-auto max-w-full rounded-lg align-middle leading-none shadow-lg"
                  alt="Hollywood Sign on The Hill" />
                <figcaption
                  class="text-right md:text-sm text-xs text-neutral-600 dark:text-neutral-400">
                  Escultura antropomorfa de basalto, vista de perfil.
                </figcaption>
              </figure>
            </div>

          </div>
        </div>

        <p class="mb-4 mx-16 text-black dark:text-black text-justify italic">
         La Casa de la Cultura Unidalguense (Antes casa del pueblo) estuvo cerrada por el conflicto entre autoridades y opositores y no se tuvo acceso a las piezas que pudiera guardar este local.
        </p>

        <p class="mb-4 mt-2 text-black dark:text-black text-justify">
          Algunos arqueólogos y antropólogos sociales, atendido a los vestigios y rasgos culturales(incluyendo la lengua) de la zona, deducen que los habitantes primarios no eran zapotecas. <br><br>
          No existe una continuidad poblacional en el pueblo en estudio desde la época prehispánica; fue por 1850 cuando se registraton varias rancherías que se fusionaron después para crear la actual y única población del municipio: Unión Hidalgo.
         </p>

      

      </div>
    </li>

    <li>
      <div class="flex-start flex items-center">
        <div
          class="-ml-[9px] -mt-2 mr-3 flex h-4 w-4 items-center justify-center rounded-full bg-primary dark:bg-primary-500"
        >
        </div>
        <h4 class="-mt-2 text-xl font-semibold">Las Rancherías</h4>
      </div>
      <div class="mb-6 ml-6 pb-6">
        <p class="text-sm">1850</p>
        <p class="mb-4 mt-2 text-black dark:text-black text-justify">
          Alrededor de lo que hoy es el municipio de Unión Hidalgo, se establecieron varias rancherías. Entre otras: La palma, El Zapotal, Ranchu Gubiña y más allá estaba chicapa. Se beneficiaban de las aguas del río de la palma (hoy más conocido como río chicapa o Espíritu Santo); hablaban zapoteco y se localizaban a 35 km de juchitán, en promedio.
          <br>
          <br>
          A pesar utilizar el zapoteco como lengua generalizada, los pobladores también tenían algo de ascendencia negra (de los esclavos traídos a las haciendas después del arribo de Hernán Cortes), zoque, huave y de español.
          <br>
          <br>
          Por su cantidad de población y cercanía a Juchitán, destacaba Ranchu Gubiña que desde entonces decían que significaba “hambre” en zapoteco.
        </p>
        <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
          <div class="-m-1 flex flex-row md:-m-2">
            <div class="">
              <div class="w-full p-1 md:p-2">
                <figure class="mb-4 inline-block">
                  <img
                    src="/rancheria.jpg"
                    class="mb-4 h-auto max-w-full rounded-lg align-middle leading-none shadow-lg"
                    alt="" />
                  <figcaption
                    class="text-right md:text-sm text-xs text-neutral-600 dark:text-neutral-400">
                    Imagen ilustrativa
                  </figcaption>
                </figure>
              </div>
            </div>

          </div>

          
        </div>
        <p class="mb-4 mt-2 text-black dark:text-black text-justify">
          La costumbre era que las rancherías arrendaban las tierras a los hacendados o las trabajaban como prestación que complementaban su salario. Pero estas rancherías se negaban por considerar que las tierras otorgadas a Hernán Cortés (que después fueron de sus sucesores y finalmente de quienes dijeron haberlas comprado) tenían dueño y eran comunales.
          <br>
          Estos años no fueron pacíficos para la región, especialmente para estas rancherías asentadas en los límites de la propiedad de hacendados (extranjeros) y de los bienes comunales indígenas (tierra y salinas). Durante los 50 años de este siglo, las fricciones se acentuaron por el encumbramiento al poder de los liberales propagadores del individualismo y la propiedad privada como única vía de progreso civilizatorio según el modelo europeo.
        </p>
        <p class="mb-4 mt-2 text-black dark:text-black text-justify">
          El <a class="italic">5 de Septiembre de 1866</a>, los habitantes de estas rancherías participaron al lado de juchitecos, san blaseños y otros combatientes de estados vecinos contra los conservadores mexicanos y demás miembros del ejército invasor francés.
        </p>
        <p class="">

        </p>
      </div>
    </li>

    <li>
      <div class="flex-start flex items-center">
        <div
          class="-ml-[9px] -mt-2 mr-3 flex h-4 w-4 items-center justify-center rounded-full bg-primary dark:bg-primary-500"
        >
        </div>
        <h4 class="-mt-2 text-xl font-semibold">La creación de Unión Hidalgo</h4>
      </div>
      <div class="mb-6 ml-6 pb-6">
        <p class="text-sm">29 Septiembre, 1882</p>
        <p class="mb-4 mt-2 text-black dark:text-black text-justify">
          A finales de junio, el ministro de Fomento, general Carlos Pacheco, en compañía de varios ingenieros recorrió el istmo de costa a costa y permaneció varios días en Tehuantepec. Una de sus conclusiones fue la necesidad de generar proyectos de colonización agrícola para el istmo y uno de los modelos generados coincide con el esquema aplicado en la comunidad en estudio y Francisco León tuvo conocimiento de ello.
        </p>

        <div class="flex flex-col">
          <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
              <div class="overflow-hidden">
                <table class="min-w-full text-left text-sm font-light">
                  <thead class="border-b font-medium dark:border-neutral-500">
                    <tr>
                      <th scope="col" class="px-6 py-4">#</th>
                      <th scope="col" class="px-6 py-4">Ranchería</th>
                      <th scope="col" class="px-6 py-4">Habitantes</th>
                    
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap px-6 py-4 font-medium">1</td>
                      <td class="whitespace-nowrap px-6 py-4">La Palma</td>
                      <td class="whitespace-nowrap px-6 py-4">330</td>
                    </tr>
                    <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap px-6 py-4 font-medium">2</td>
                      <td class="whitespace-nowrap px-6 py-4">El Zapotal</td>
                      <td class="whitespace-nowrap px-6 py-4">426</td>
                    </tr>
                    <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap px-6 py-4 font-medium">3</td>
                      <td class="whitespace-nowrap px-6 py-4">Santa Cruz Gubiña Norte</td>
                      <td class="whitespace-nowrap px-6 py-4">289</td>
                    </tr>
                    <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap px-6 py-4 font-medium">4</td>
                      <td class="whitespace-nowrap px-6 py-4">Gubiña Sur</td>
                      <td class="whitespace-nowrap px-6 py-4">256</td>
                    </tr>
                    <tr class="border-b dark:border-neutral-500">
                      <td class="whitespace-nowrap px-6 py-4 font-medium">5</td>
                      <td class="whitespace-nowrap px-6 py-4">Chicapa</td>
                      <td class="whitespace-nowrap px-6 py-4">487</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <p class="mb-4 mt-2 text-black dark:text-black text-justify">
          Francisco León, jefe del distrito de Juchitán, vio la conveniencia de unir las rancherías del oriente de Juchitán para aniquilar a los rebeldes y trató de convencer a sus habitantes pero no lo logró. Entonces, aplicó la táctica de recolonización: incendio las rancherías para que los habitantes las abandonaran, ubicándolas en un lugar preestablecido. El 29 de septiembre de 1882 se acordó crear lo que hoy es Unión Hidalgo: Unión por la suma de rancherías e Hidalgo por el padre de la patria. Mientras tanto, algunos habitaron en la zona huave y la mayoría en Juchitán.
        </p>
        
     
      </div>
    </li>

    <li>
      <div class="flex-start flex items-center">
        <div
          class="-ml-[9px] -mt-2 mr-3 flex h-4 w-4 items-center justify-center rounded-full bg-primary dark:bg-primary-500"
        >
        </div>
        <h4 class="-mt-2 text-xl font-semibold">Desarrollo y crecimiento</h4>
      </div>
      <div class="mb-6 ml-6 pb-6">
        <p class="text-sm">29 Septiembre, 1882</p>
        
        <p class="mb-4 mt-2 text-black dark:text-black text-justify">
         
        </p>
        <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
          <div class="-m-1 flex flex-wrap md:-m-2">

            <div class="flex w-1/3 flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt=""
                  class="block h-full w-full rounded-lg object-cover object-center"
                  src="/mar.jpeg"
                />
              </div>
            </div>

            <div class="flex w-1/3 flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center"
                  src="/mar2.jpeg"
                />
              </div>
            </div>

            <div class="flex w-1/3 flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center"
                  src="campo2.jpeg"
                />
              </div>
            </div>

          </div>
        </div>
      </div>
    </li>

    <li>
      <div class="flex-start flex items-center">
        <div
          class="-ml-[9px] -mt-2 mr-3 flex h-4 w-4 items-center justify-center rounded-full bg-primary dark:bg-primary-500"
        >
        </div>
        <h4 class="-mt-2 text-xl font-semibold">El presente y el futuro</h4>
      </div>
      <div class="mb-6 ml-6 pb-6">
        <p class="text-sm">29 Septiembre, 1882</p>
        <p class="mb-4 mt-2 text-black dark:text-black text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae,
          omnis sit quaerat repellendus reiciendis nemo voluptate deleniti, eos,
          exercitationem nihil nam? Provident velit explicabo consequuntur
          dolores. Obcaecati culpa recusandae maiores, ab magni quo deleniti
          voluptates ipsam ipsum est ad necessitatibus placeat sit beatae
          eligendi repudiandae voluptatum? Laborum accusantium beatae soluta! Ad
          totam magni repellendus qui voluptatum magnam, non nam molestiae
          numquam, recusandae, beatae possimus quidem nemo blanditiis corporis?
          Recusandae nesciunt aut voluptas, pariatur dolorem nostrum, quas
          perspiciatis dignissimos necessitatibus laboriosam, aspernatur cumque
          officia asperiores maiores maxime aliquam ducimus odio est sequi
          corrupti totam. Tenetur eius perspiciatis maxime consequuntur dolorum
          dolores.
        </p>

        <p class="mb-4 mt-2 text-black dark:text-black text-justify">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis,
          odit. Modi porro commodi voluptatibus atque! Ipsa autem deleniti
          aliquid sequi dolor ex optio nisi magnam ullam accusamus officiis,
          dolore officia porro a voluptates recusandae blanditiis cupiditate
          saepe eos dignissimos aut ea expedita? Similique omnis, numquam
          recusandae mollitia fugit modi repudiandae.
        </p>
        <div class="container mx-auto px-5 py-2 lg:px-32 lg:pt-12">
          <div class="-m-1 flex flex-wrap md:-m-2">
            <div class="flex w-1/2 flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt=""
                  class="block h-full w-full rounded-lg object-cover object-center"
                  src="/mar.jpeg"
                />
              </div>
            </div>

            <div class="flex w-1/2 flex-wrap">
              <div class="w-full p-1 md:p-2">
                <img
                  alt="gallery"
                  class="block h-full w-full rounded-lg object-cover object-center"
                  src="/mar2.jpeg"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>

  </ol>

  <div class="mx-auto md:px-1">
    <section class="text-center">
      <h2 class="text-3xl font-bold">Escrito por</h2>
  
      <div class="">
        <div>
          <div class="mb-6 flex justify-center">   
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-24 h-24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
          </div>
          <h5 class="text-lg font-bold">Beatriz Belmont Sandoval</h5>
          <h6 class="font-medium text-primary dark:text-primary-400">
            Antropologa Social
          </h6>
        </div>
      </div>
    </section>
  </div>
</div>

<script>
  // Initialization for ES Users
  import { Ripple, initTE } from "tw-elements";

  initTE({ Ripple });
</script>


