---
import Foter from "../components/landing/Foter.astro";
import Hero from "../components/landing/Hero.astro";
import Layout from "../layouts/Layout.astro";


---


<Layout title="Comidas Tipicas">
    <Hero>

    </Hero>
    <p class="md:text-6xl text-center">AQUI PINSO PONER FOTOS DE LAS COMIDAS TIPICAS CON UNA DESCRIPCION DE CUANDO Y PORQUE SE COME, CON SU NOMBRE EN ZAPOTECO Y EN ESPAÑOL, COMO LO QUE ESTA EN GALERIA PERO PRESENTADO DE OTRA MANERA</p>
    <Foter>
        
    </Foter>

</Layout>