---
import Foter from "../components/landing/Foter.astro";
import Hero from "../components/landing/Hero.astro";
import Layout from "../layouts/Layout.astro";


---


<Layout title="Comidas Tipicas">
    <Hero>

    </Hero>
    <!-- Container for demo purpose -->
<div class="container my-10 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center">
      <h2 class="mb-12 pb-4 text-center text-3xl font-bold">
        Comidas tipicas de Union Hidalgo
      </h2>
  
      <div class="grid gap-6 md:grid-cols-2 md:gap-14">
        <div class="mb-6 lg:mb-0">
          <div class="relative block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
            <div class="flex">
              <div class="relative mx-4 -mt-4 w-full overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
                data-te-ripple-init data-te-ripple-color="light">
                <img src="/tlayuda.jpeg" class="w-full" />
              </div>
            </div>
            <div class="p-6 text-justify">
              <h5 class="mb-4 text-lg font-bold text-center">Tlayudas</h5>
              <p class="mb-6">
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, beatae. Impedit error adipisci, similique harum dolorem eveniet laborum praesentium delectus consequatur tempore ratione in voluptatem nesciunt voluptate iure beatae minus accusamus enim, nam corrupti expedita cumque consectetur ut. Recusandae, vel enim! Ullam sed at quos voluptate reiciendis veniam. Magni, accusantium!
              </p>
            
            </div>
          </div>
        </div>
  
        <div class="mb-6 lg:mb-0">
          <div class="relative block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
            <div class="flex">
              <div class="relative mx-4 -mt-4 w-full overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
                data-te-ripple-init data-te-ripple-color="light">
                <img src="/garnachas.jpg" class="w-full" />
         
              </div>
            </div>
            <div class="p-6 text-justify">
              <h5 class="mb-4 text-lg font-bold text-center">Garnachas</h5>
              <p class="mb-6">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor rerum labore corrupti qui eveniet magni quae deleniti molestiae quibusdam rem, eaque velit? Cupiditate nobis ullam natus aperiam, accusamus soluta quos, illum corrupti nemo iure nam exercitationem porro optio rerum reiciendis pariatur. A quis eaque ipsum expedita quas iste, voluptate dolorum!
              </p>
          
            </div>
          </div>
        </div>
  
        <div class="mb-0">
          <div class="relative block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
            <div class="flex">
              <div class="relative mx-4 -mt-4 w-full overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
                data-te-ripple-init data-te-ripple-color="light">
                <img src="/tamales.jpg" class="w-full" />
                
              </div>
            </div>
            <div class="p-6 text-justify">
              <h5 class="mb-4 text-lg font-bold text-center">Tamales</h5>
              <p class="mb-6">
               Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam exercitationem distinctio culpa enim similique illum dicta, modi magni obcaecati nesciunt molestias maxime quibusdam voluptatem? Rerum dolorum qui, deleniti eius nulla quia saepe? Aliquid, alias officia officiis obcaecati quis ducimus neque veniam a at! Ab animi eveniet quam fugiat est dolores maiores illum vero perferendis omnis magni laborum, cum, reiciendis accusantium quis quisquam atque totam similique itaque in perspiciatis nulla? Distinctio, reiciendis qui vel delectus consectetur magnam tempore rem illo fugiat!
              </p>
          
            </div>
          </div>
        </div>

        <div class="mb-0">
            <div class="relative block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
              <div class="flex">
                <div class="relative mx-4 -mt-4 w-full overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]"
                  data-te-ripple-init data-te-ripple-color="light">
                  <img src="/barbacoa.jpg" class="w-full" />
               
                </div>
              </div>
              <div class="p-6 text-justify">
                <h5 class="mb-4 text-lg font-bold text-center">Barbacoa</h5>
                <p class="mb-6">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio perferendis fugit maxime repellat dolorem, perspiciatis eum et vitae voluptates, quidem similique neque autem. Repellendus quod fugiat eos magni esse libero fugit in assumenda officia doloremque, vel adipisci? Omnis consequuntur saepe nemo vero voluptatem ab autem cupiditate nam alias, doloribus aliquid quam sequi temporibus ratione tempora? Blanditiis odit sed sunt illum iste cumque obcaecati repellendus sapiente iure quod! Ab iusto nobis iste aspernatur magni commodi porro placeat quam expedita. Beatae cum illum necessitatibus saepe, culpa rem.
                </p>

              </div>
            </div>
          </div>

      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->
    <Foter>
        
    </Foter>

</Layout>