---
import Layout from "../layouts/Layout.astro";


//componenetes
import Hero from "../components/landing/Hero.astro";
import Foter from "../components/landing/Foter.astro";
import Carrusel from "../components/landing/Carrusel.astro";

---



<Layout title="Costumbres y Tradiciones">
<Hero/>
<p class="mt-8 text-center md:font-semibold md:text-3xl">Costumbres y Tracidiciones</p>
<div>
    <!-- Container for demo purpose -->
<div class="container my-12 mx-auto md:px-6">

    <!-- Section: Design Block -->
    <section class="mb-32 text-center md:text-left">
      <div
        class="block rounded-lg bg-black shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-orange-200">
        <div class="flex flex-wrap items-center">
          <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
            <img src="/camino.jpeg" alt="Trendy Pants and Shoes"
              class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
          </div>
          <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
            <div class="px-6 py-12 md:px-12">
              <h2 class="mb-6 pb-2 text-3xl font-bold">
                Velas
              </h2>
              <p class="mb-6 pb-2 text-black dark:text-neutral-950">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum in quis corrupti minima obcaecati amet nam harum doloremque libero natus dolor non odit, reiciendis repellendus unde quisquam est provident quo excepturi sapiente? Et praesentium unde sapiente in sit perferendis temporibus, qui deserunt ipsa tempore possimus, alias veritatis atque officia enim impedit sunt libero harum debitis architecto itaque pariatur. Ea quia optio molestias magnam. Voluptates facilis quae possimus, reprehenderit quod mollitia quaerat deserunt totam assumenda molestiae. Ducimus vel sunt odit, repellat excepturi ipsam, ut ratione tempora dolore error qui ullam iste dicta quod voluptatem voluptatum rem nam repellendus minima dolores! Nisi?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->


  <!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center md:text-left">
      <div
        class="block rounded-lg bg-black shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-orange-200">
        <div class="flex flex-wrap items-center">
          <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
            <img src="/molino.jpeg" alt="Trendy Pants and Shoes"
              class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
          </div>
          <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
            <div class="px-6 py-12 md:px-12">
              <h2 class="mb-6 pb-2 text-3xl font-bold">
                Regadas
              </h2>
              <p class="mb-6 pb-2 text-black dark:text-neutral-950">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum in quis corrupti minima obcaecati amet nam harum doloremque libero natus dolor non odit, reiciendis repellendus unde quisquam est provident quo excepturi sapiente? Et praesentium unde sapiente in sit perferendis temporibus, qui deserunt ipsa tempore possimus, alias veritatis atque officia enim impedit sunt libero harum debitis architecto itaque pariatur. Ea quia optio molestias magnam. Voluptates facilis quae possimus, reprehenderit quod mollitia quaerat deserunt totam assumenda molestiae. Ducimus vel sunt odit, repellat excepturi ipsam, ut ratione tempora dolore error qui ullam iste dicta quod voluptatem voluptatum rem nam repellendus minima dolores! Nisi?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->


  <!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center md:text-left">
      <div
        class="block rounded-lg bg-black shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-orange-200">
        <div class="flex flex-wrap items-center">
          <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
            <img src="/atardecer.jpeg" alt="Trendy Pants and Shoes"
              class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
          </div>
          <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
            <div class="px-6 py-12 md:px-12">
              <h2 class="mb-6 pb-2 text-3xl font-bold">
                Bodas
              </h2>
              <p class="mb-6 pb-2 text-black dark:text-neutral-950">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum in quis corrupti minima obcaecati amet nam harum doloremque libero natus dolor non odit, reiciendis repellendus unde quisquam est provident quo excepturi sapiente? Et praesentium unde sapiente in sit perferendis temporibus, qui deserunt ipsa tempore possimus, alias veritatis atque officia enim impedit sunt libero harum debitis architecto itaque pariatur. Ea quia optio molestias magnam. Voluptates facilis quae possimus, reprehenderit quod mollitia quaerat deserunt totam assumenda molestiae. Ducimus vel sunt odit, repellat excepturi ipsam, ut ratione tempora dolore error qui ullam iste dicta quod voluptatem voluptatum rem nam repellendus minima dolores! Nisi?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->


  <!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center md:text-left">
      <div
        class="block rounded-lg bg-black shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-orange-200">
        <div class="flex flex-wrap items-center">
          <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
            <img src="/torito.jpeg" alt="Trendy Pants and Shoes"
              class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
          </div>
          <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
            <div class="px-6 py-12 md:px-12">
              <h2 class="mb-6 pb-2 text-3xl font-bold">
                Quemada de toritos
              </h2>
              <p class="mb-6 pb-2 text-black dark:text-neutral-950">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum in quis corrupti minima obcaecati amet nam harum doloremque libero natus dolor non odit, reiciendis repellendus unde quisquam est provident quo excepturi sapiente? Et praesentium unde sapiente in sit perferendis temporibus, qui deserunt ipsa tempore possimus, alias veritatis atque officia enim impedit sunt libero harum debitis architecto itaque pariatur. Ea quia optio molestias magnam. Voluptates facilis quae possimus, reprehenderit quod mollitia quaerat deserunt totam assumenda molestiae. Ducimus vel sunt odit, repellat excepturi ipsam, ut ratione tempora dolore error qui ullam iste dicta quod voluptatem voluptatum rem nam repellendus minima dolores! Nisi?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->



  <!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center md:text-left">
      <div
        class="block rounded-lg bg-black shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-orange-200">
        <div class="flex flex-wrap items-center">
          <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
            <img src="/venta.jpeg" alt="Trendy Pants and Shoes"
              class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
          </div>
          <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
            <div class="px-6 py-12 md:px-12">
              <h2 class="mb-6 pb-2 text-3xl font-bold">
                Fiesta del pueblo
              </h2>
              <p class="mb-6 pb-2 text-black dark:text-neutral-950">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum in quis corrupti minima obcaecati amet nam harum doloremque libero natus dolor non odit, reiciendis repellendus unde quisquam est provident quo excepturi sapiente? Et praesentium unde sapiente in sit perferendis temporibus, qui deserunt ipsa tempore possimus, alias veritatis atque officia enim impedit sunt libero harum debitis architecto itaque pariatur. Ea quia optio molestias magnam. Voluptates facilis quae possimus, reprehenderit quod mollitia quaerat deserunt totam assumenda molestiae. Ducimus vel sunt odit, repellat excepturi ipsam, ut ratione tempora dolore error qui ullam iste dicta quod voluptatem voluptatum rem nam repellendus minima dolores! Nisi?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->

  <!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center md:text-left">
      <div
        class="block rounded-lg bg-black shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-orange-200">
        <div class="flex flex-wrap items-center">
          <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
            <img src="/mar3.jpeg" alt="Trendy Pants and Shoes"
              class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
          </div>
          <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
            <div class="px-6 py-12 md:px-12">
              <h2 class="mb-6 pb-2 text-3xl font-bold">
                Pedida de mano
              </h2>
              <p class="mb-6 pb-2 text-black dark:text-neutral-950">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum in quis corrupti minima obcaecati amet nam harum doloremque libero natus dolor non odit, reiciendis repellendus unde quisquam est provident quo excepturi sapiente? Et praesentium unde sapiente in sit perferendis temporibus, qui deserunt ipsa tempore possimus, alias veritatis atque officia enim impedit sunt libero harum debitis architecto itaque pariatur. Ea quia optio molestias magnam. Voluptates facilis quae possimus, reprehenderit quod mollitia quaerat deserunt totam assumenda molestiae. Ducimus vel sunt odit, repellat excepturi ipsam, ut ratione tempora dolore error qui ullam iste dicta quod voluptatem voluptatum rem nam repellendus minima dolores! Nisi?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->

  <!-- Container for demo purpose -->
<div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center md:text-left">
      <div
        class="block rounded-lg bg-black shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-orange-200">
        <div class="flex flex-wrap items-center">
          <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
            <img src="/palacio.jpeg" alt="Trendy Pants and Shoes"
              class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
          </div>
          <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
            <div class="px-6 py-12 md:px-12">
              <h2 class="mb-6 pb-2 text-3xl font-bold">
                Calendas
              </h2>
              <p class="mb-6 pb-2 text-black dark:text-neutral-950">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum in quis corrupti minima obcaecati amet nam harum doloremque libero natus dolor non odit, reiciendis repellendus unde quisquam est provident quo excepturi sapiente? Et praesentium unde sapiente in sit perferendis temporibus, qui deserunt ipsa tempore possimus, alias veritatis atque officia enim impedit sunt libero harum debitis architecto itaque pariatur. Ea quia optio molestias magnam. Voluptates facilis quae possimus, reprehenderit quod mollitia quaerat deserunt totam assumenda molestiae. Ducimus vel sunt odit, repellat excepturi ipsam, ut ratione tempora dolore error qui ullam iste dicta quod voluptatem voluptatum rem nam repellendus minima dolores! Nisi?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->

  <div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center md:text-left">
      <div
        class="block rounded-lg bg-black shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-orange-200">
        <div class="flex flex-wrap items-center">
          <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
            <img src="/campo2.jpeg" alt="Trendy Pants and Shoes"
              class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
          </div>
          <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
            <div class="px-6 py-12 md:px-12">
              <h2 class="mb-6 pb-2 text-3xl font-bold">
                Dia de muerto
              </h2>
              <p class="mb-6 pb-2 text-black dark:text-neutral-950">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum in quis corrupti minima obcaecati amet nam harum doloremque libero natus dolor non odit, reiciendis repellendus unde quisquam est provident quo excepturi sapiente? Et praesentium unde sapiente in sit perferendis temporibus, qui deserunt ipsa tempore possimus, alias veritatis atque officia enim impedit sunt libero harum debitis architecto itaque pariatur. Ea quia optio molestias magnam. Voluptates facilis quae possimus, reprehenderit quod mollitia quaerat deserunt totam assumenda molestiae. Ducimus vel sunt odit, repellat excepturi ipsam, ut ratione tempora dolore error qui ullam iste dicta quod voluptatem voluptatum rem nam repellendus minima dolores! Nisi?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->

  <div class="container my-24 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center md:text-left">
      <div
        class="block rounded-lg bg-black shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-orange-200">
        <div class="flex flex-wrap items-center">
          <div class="block w-full shrink-0 grow-0 basis-auto lg:flex lg:w-6/12 xl:w-4/12">
            <img src="/venta.jpeg" alt="Trendy Pants and Shoes"
              class="w-full rounded-t-lg lg:rounded-tr-none lg:rounded-bl-lg" />
          </div>
          <div class="w-full shrink-0 grow-0 basis-auto lg:w-6/12 xl:w-8/12">
            <div class="px-6 py-12 md:px-12">
              <h2 class="mb-6 pb-2 text-3xl font-bold">
                Martes Santo (Semana Santa)
              </h2>
              <p class="mb-6 pb-2 text-black dark:text-neutral-950">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum in quis corrupti minima obcaecati amet nam harum doloremque libero natus dolor non odit, reiciendis repellendus unde quisquam est provident quo excepturi sapiente? Et praesentium unde sapiente in sit perferendis temporibus, qui deserunt ipsa tempore possimus, alias veritatis atque officia enim impedit sunt libero harum debitis architecto itaque pariatur. Ea quia optio molestias magnam. Voluptates facilis quae possimus, reprehenderit quod mollitia quaerat deserunt totam assumenda molestiae. Ducimus vel sunt odit, repellat excepturi ipsam, ut ratione tempora dolore error qui ullam iste dicta quod voluptatem voluptatum rem nam repellendus minima dolores! Nisi?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->
</div>
<Foter/>
</Layout>


