---
import Layout from "../layouts/Layout.astro";

//componentes
import Hero from "../components/landing/Hero.astro";
import Foter from "../components/landing/Foter.astro";
import Timeline from '../components/landing/Timeline.astro';
---

<Layout title="Historia de union Hidalgo">
  <Hero />
  <div class="block rounded-lg bg-slate-50-300 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.1),0_10px_20px_-2px_rgba(0,0,0,0.2)] py-1 px-4 md:mx-20 md:grid grid-cols-1 md:gap-4 md:p-4 mt-5 text-justify">
    <Timeline></Timeline>  
  </div>
  <Foter />
</Layout>
