---
import Layout from "../layouts/Layout.astro";


//componentes
import Hero from '../components/landing/Hero.astro';
import Foter from "../components/landing/Foter.astro";
---


<Layout title="Historia de union Hidalgo">
<Hero></Hero>
<br>
<p class="md:text-5xl text-center"> AQUI QUIERO PONER COMO UNA ESPECIE DE BLOG REDACTADO POR UNA PERSONA QUE EN MI PUEBLO TIENE UNA PAGINA DE FACEBOOK DONDE SUBE FOTOS HISTORICAS DEL PUEBLO. </p>
<Foter/>
</Layout>