---
import Layout from "../layouts/Layout.astro";

//componentes
import Hero from "../components/landing/Hero.astro";
import Foter from "../components/landing/Foter.astro";
---

<Layout title="Historia de union Hidalgo">
  <Hero />


  <div class="block rounded-lg bg-slate-50-300 shadow-[0_2px_15px_-3px_rgba(0,0,0,0.1),0_10px_20px_-2px_rgba(0,0,0,0.2)] py-4 px-4 md:mx-20 md:grid grid-cols-1 md:gap-4 md:p-4 mt-5 text-justify mb-4">

    <h1 class="text-3xl font-bold text-center md:mt-5">
        Historia de Unión Hidalgo, Oaxaca
      </h1>
    
    
      <section class="px-4 md:px-16 mb-8">
        <p class="text-lg">
          Unión Hidalgo es un pintoresco pueblo ubicado en el estado de Oaxaca,
          México. Su rica historia se remonta a varios siglos atrás y está
          profundamente arraigada en la cultura y tradiciones de la región.
        </p>
      </section>
    
     
      <section class="px-4 md:px-16 mb-8">
        <h2 class="text-2xl font-bold mb-2">Orígenes prehispánicos</h2>
        <p class="text-lg">
          Antes de la llegada de los españoles, la zona que ahora ocupa Unión
          Hidalgo estaba habitada por diversas comunidades indígenas, como los
          zapotecas y los mixes. Estas culturas dejaron su huella en la región, como
          se puede observar en las antiguas ruinas arqueológicas cercanas al pueblo.
        </p>
      </section>
    
    
      <section class="px-4 md:px-16 mb-8">
        <h2 class="text-2xl font-bold mb-2">Época colonial</h2>
        <p class="text-lg">
          Con la llegada de los conquistadores españoles en el siglo XVI, Unión
          Hidalgo pasó a formar parte del Virreinato de Nueva España. Durante este
          período, se establecieron haciendas y se introdujo el sistema de
          encomiendas, que tuvo un impacto significativo en la vida de la población
          local.
        </p>
      </section>
    
      <section class="px-4 md:px-16 mb-8">
        <h2 class="text-2xl font-bold mb-2">
          Independencia y la creación de Unión Hidalgo
        </h2>
        <p class="text-lg">
          En el siglo XIX, México luchó por su independencia de España, y tras
          lograrla en 1821, Oaxaca se convirtió en un estado de la recién formada
          república. Unión Hidalgo obtuvo el reconocimiento oficial como pueblo en
          [año de fundación] y ha mantenido su nombre en honor a [nombre de la
          persona o evento relevante].
        </p>
      </section>
    
    
      <section class="px-4 md:px-16 mb-8">
        <h2 class="text-2xl font-bold mb-2">Tradiciones y cultura</h2>
        <p class="text-lg">
          La historia de Unión Hidalgo está íntimamente relacionada con su cultura y
          tradiciones. Cada año, se celebran diversas festividades que conmemoran
          eventos históricos y religiosos, como la celebración de [nombre de la
          festividad], donde [descripción de la festividad y su significado].
        </p>
      </section>
    
      
      <section class="px-4 md:px-16 mb-8">
        <h2 class="text-2xl font-bold mb-2">Desarrollo y crecimiento</h2>
        <p class="text-lg">
          A lo largo del tiempo, Unión Hidalgo ha experimentado cambios
          significativos en su desarrollo y crecimiento. Desde su fundación, ha sido
          un importante centro agrícola, destacando la producción de [principal
          producto agrícola]. La industria [nombre de una industria relevante en la
          región] también ha tenido un papel importante en la economía local.
        </p>
      </section>
    
      
      <section class="px-4 md:px-16 mb-8">
        <h2 class="text-2xl font-bold mb-2">El presente y el futuro</h2>
        <p class="text-lg">
          Hoy en día, Unión Hidalgo es una comunidad próspera y acogedora que
          continúa preservando su patrimonio histórico mientras mira hacia el
          futuro. Con su rica historia y encanto característico, el pueblo atrae a
          visitantes que desean sumergirse en su cultura y tradiciones únicas.
        </p>
      </section>
    
     
      <section class="px-4 md:px-16">
        <h2 class="text-2xl font-bold mb-2">Conclusión</h2>
        <p class="text-lg">
          La historia de Unión Hidalgo, Oaxaca, es una mezcla fascinante de
          tradiciones indígenas y la influencia colonial española. A través de los
          años, ha mantenido su identidad cultural y ha prosperado como un lugar
          lleno de historia y encanto.
        </p>
      </section>
    
      <div class="mt-10 mx-auto md:px-1">
        <section class="mb-32 text-center">
          <h2 class="mb-12 text-3xl font-bold">Escrito por</h2>
      
          <div class="">
            <div>
              <div class="mb-6 flex justify-center">
                <img src="/beno.jpeg"
                  class="w-32 rounded-full shadow-lg dark:shadow-black/20" />
              </div>
              <h5 class="mb-2 text-lg font-bold">Benito López</h5>
              <h6 class="mb-4 font-medium text-primary dark:text-primary-400">
                Web Developer
              </h6>
              <p class="text-center justify-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit adipisci, impedit recusandae tempore, consectetur optio blanditiis modi illo labore dolorum quasi voluptas, quos in necessitatibus quibusdam nam praesentium. Quo saepe sequi hic fuga a, distinctio dignissimos animi odio exercitationem nihil soluta amet, voluptates similique molestiae doloribus nemo incidunt natus dolorum.
              </p>
            </div>
    
          </div>
        </section>
      </div>
  </div>
    <Foter />
</Layout>
